<section class="advantages">
  <div class="container">
    <ul class="advantages-list">
      <li class="advantages-item">
        <svg class="advantages-icon">
          <use href=""></use>
        </svg>
        <h3 class="advantages-title"></h3>
        <p class="advantages-text"></p>
      </li>

      <li class="advantages-item">
        <svg class="advantages-icon">
          <use href=""></use>
        </svg>
        <h3 class="advantages-title"></h3>
        <p class="advantages-text"></p>
      </li>

      <li class="advantages-item">
        <svg class="advantages-icon">
          <use href=""></use>
        </svg>
        <h3 class="advantages-title"></h3>
        <p class="advantages-text"></p>
      </li>
    </ul>
  </div>
</section>
