<!-- <header>
  <div class="container">
    <div class="navbar">
      <a class="logo" href="">
        <span class="simply">SIMPLY</span>
        <span class="chocolate">CHOCOLATE</span>
        <svg class="logo-icon">
          <use href="/img/icons.svg#icon-header-chocolate"></use>
        </svg>
      </a>

      <ul class="header-nav-list">
        <li class="header-nav-item"><a href="">Home</a></li>
        <li class="header-nav-item"><a href=""></a>How it’s made?</li>
        <li class="header-nav-item"><a href=""></a>Our products</li>
        <li class="header-nav-item"><a href=""></a>Top sellers</li>
        <li class="header-nav-item"><a href=""></a>Chocolate is loved</li>
      </ul>

      <ul class="header-networks-list">
        <li class="header-networks-item">
          <svg class="header-networks-icon">
            <use href="/img/icons.svg#icon-instagram-desk-tab"></use>
          </svg>
        </li>

        <li class="header-networks-item">
          <svg class="header-networks-icon">
            <use href="/img/icons.svg#icon-twitter-desk-tab"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</header> -->

<header class="header">
  <div class="container header-container">
    <nav class="navbar">
      <a class="logo link" href="./index.html">
        <span class="simply">SIMPLY</span>
        <span class="chocolate">CHOCOLATE</span>
        <svg class="logo-icon">
          <use href="../img/icons.svg#icon-header-chocolate"></use>
        </svg>
      </a>

      <button class="menu-hamburger js-open-menu" type="button">
        <svg class="icon-menu-burger">
          <use href="../img/icons.svg#icon-burger"></use>
        </svg>
      </button>

      <ul class="header-nav-list">
        <li class="header-nav-item current">
          <a href="./index.html" class="nav-link current-link">Home</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="nav-link">How it’s made?</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="nav-link">Top sellers</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="nav-link">Our products</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="nav-link">Chocolate is loved</a>
        </li>
      </ul>

      <ul class="header-networks-list">
        <li class="header-networks-item">
          <svg class="header-networks-icon">
            <use href="../img/icons.svg#icon-instagram-desk-tab"></use>
          </svg>
        </li>

        <li class="header-networks-item">
          <svg class="header-networks-icon">
            <use href="../img/icons.svg#icon-twitter-desk-tab"></use>
          </svg>
        </li>
      </ul>
    </nav>
  </div>

  <div class="mobile-menu js-menu-container">
    <button class="mobile-modal-close js-close-menu" type="button">
      <svg class="mobile-close-icon">
        <use href="../img/icons.svg#icon-close"></use>
      </svg>
    </button>

    <div class="mobile-menu-items">
      <nav>
        <ul class="mobile-site-nav">
          <li class="header-nav-item">
            <a href="./index.html" class="mobile-nav-link">Home</a>
          </li>
          <li class="header-nav-item">
            <a href="" class="mobile-nav-link">How it’s made?</a>
          </li>
          <li class="site-nav-item">
            <a href="" class="mobile-nav-link link current-link">Top sellers</a>
          </li>
          <li class="header-nav-item">
            <a href="" class="mobile-nav-link">Our products</a>
          </li>
          <li class="header-nav-item">
            <a href="" class="mobile-nav-link">Chocolate is loved</a>
          </li>
        </ul>
      </nav>

      <div class="mobile-socials mobile-socials-container">
        <ul class="mobile-socials-list">
          <li class="mobile-socials-item">
            <a class="mobile-socials-link" href="">
              <svg class="mobile-socials-icon">
                <use href="../img/icons.svg#icon-instagram-mob"></use>
              </svg>
            </a>
          </li>

          <li class="mobile-socials-item">
            <a class="mobile-socials-link" href="">
              <svg class="mobile-socials-icon">
                <use href="../img/icons.svg#icon-twitter-mob"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
