<section class="hero">
  <div class="container">
    <div class="hero-backgrounb">
      <h2 class="hero-subtitle hero-desk-tab">
        Treat yourself or a loved one to<br />our finest ingredients for a
        moment<br />of pure delight!
      </h2>

      <h2 class="hero-subtitle hero-mob">
        Treat yourself or a loved one<br />to our finest ingredients for a<br />moment
        of pure delight!
      </h2>

      <div class="hero-buttons-sckroll">
        <ul class="hero-buttons-list">
          <li class="hero-buttons-item">
            <button class="left-button" type="button">Buy now</button>
          </li>

          <li class="hero-buttons-item">
            <div class="right-button">
              <a href="#how-its-made">How it’s made</a>
            </div>
          </li>
        </ul>

        <a class="hero-scroll" href="#footer">
          scroll down
          <svg class="hero-icon">
            <use href="/img/icons.svg#icon-hero-vector"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
