<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      Treat yourself or a loved one to our finest ingredients for a moment of
      pure delight! ЦЕЙ ТEKCТ І Є ЗМІНАМИ.
    </h1>

    <ul class="hero-buttons-list">
      <li class="hero-buttons-item">
        <button class="left-button" type="button">Buy now</button>
      </li>

      <li class="hero-buttons-item">
        <button class="right-button" type="button">How it’s made</button>
      </li>
    </ul>

    <div class="hero-scroll">
      <span class="scroll-text">scroll down</span>
      <button class="scroll-button">
        <svg>
          <use href="/img/icons.svg#icon-hero-vector"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
