<section class="hero">
  <div class="container">
    <div class="hero-backgrounb">
      <h2 class="hero-subtitle hero-desk-tab">
        Treat yourself or a loved one to<br />our finest ingredients for a
        moment<br />of pure delight!
      </h2>

      <h2 class="hero-subtitle hero-mob">
        Treat yourself or a loved one<br />to our finest ingredients for a<br />moment
        of pure delight!
      </h2>

      <div class="hero-buttons-sckroll">
        <ul class="hero-buttons-list">
          <li class="hero-buttons-item">
            <button class="left-button" type="button">Buy now</button>
          </li>

          <li class="hero-buttons-item">
            <div class="right-button">
              <a href="#how-its-made">How it’s made</a>
            </div>
          </li>
        </ul>

        <a class="hero-scroll" href="#footer">
          scroll down
          <svg class="hero-icon">
            <use href="/img/icons.svg#icon-hero-vector"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
  
  <div class="backdrop is-hidden"  >
    <div class="modal-buy-now">
      <button type="button" class="modal-close" >
        <svg width="8" height="8" class="close-icon">
          <use href="/img/icons.svg#icon-close"></use>
        </svg>
      </button>
      <h3><span>bUY</span> NOW</h3>
      <ul class="modal-buy-items">
        <li class="modal-buy-item">
          <img
            srcset="
              /img/buy-now-1-desk-167.jpg 1x,
              /img/buy-now-1-desk-334.jpg 2x"
            src=""
            alt="картинка_2"
            width="167"
            height="148"
          />
          <button class="buy-product btn">100 g</button>
        </li>
        <li class="modal-buy-item">
          <img srcset="" src="" alt="картинка_3" width="167" height="148" />
          <button class="buy-product btn">200 g</button>
        </li>
        <li class="modal-buy-item">
          <img srcset="" src="" alt="картинка_3" width="167" height="148" />
          <button class="buy-product btn">300 g</button>
        </li>
      </ul>
      <form class="modal-form">
        <div class="modal-field">
          <label for="user-name" class="input-text">Personal information</label>
          <div class="input-wrap">
            <input
              type="text"
              class="modal-input"
              name="user-name"
              placeholder="Surname"
              required
              id="user-name"
            />
            <input
              type="text"
              class="modal-input"
              name="user-surname"
              placeholder="Name"
              required
              id="user-surname"
            />
          </div>
          <label for="user-email" class="input-text">Email</label>

          <div class="input-wrap">
            <input
              type="email"
              class="modal-input"
              name="user-email"
              placeholder="Enter your email"
              required
              id="user-email"
              />
          </div>
          <label for="user-tel" class="input-text">Phone number</label>
            <div class="input-wrap">
              <input
                type="tel"
                class="modal-input"
                name="user-tel"
                placeholder="Phone number"
                id="user-tel"
              />
              <svg class="input-icon" width="32" height="32">
                <use href="./img/icons.svg#"></use>
              </svg>
            </div>    
          <label for="user-card" class="input-text">Card number</label>
          <div class="input-wrap">
            <input
              type="card"
              class="modal-input"
              name="user-card"
              placeholder="Enter card"
              required
              id="user-card"
              />
        </div>
        <label for="user-comment" class="input-text">Comment</label>
         <div class="modal-field">
            <textarea
              class="modal-input comment"
              name="user-comment"
              placeholder="Enter text"
              id="user-comment"
            ></textarea>
          </div>
        <button type="submit">Submit</button> 
      </form>
    </div>
  </div>
  
  <div class="thanks"  >
    <div class="modal-thank-you" >
      <button type="button" class="modal-close"  >
        <svg width="16" height="16" class="close-icon">
          <use href="./img/icons.svg#icon-close-x"></use>
        </svg>
      </button>
      <h3 class="title-thank-you">THANK YOU!</h3>
      <p class="thank-you-text">We are glad that you ordered our chocolate and we are giving you a 20% discount on all our products.</p>
    </div>
  </div> 
</section>
