<section class="products">
  <div class="container">
    <h2 class="products-title">Our Products</h2>
    <div class="swiper">
      <ul class="swiper-wrapper products-list">
        <li class="swiper-slide products-item">
          <img class="products-img" src="/img/product-1.jpg" alt="Orange" />
          <h3 class="products-name">Orange</h3>
          <p class="products-text">Dark chocolate</p>
          <button class="products-price">45 UAH</button>
        </li>

        <li class="swiper-slide products-item">
          <img
            class="products-img"
            src="/img/product-2.jpg"
            alt="Apple&Cranberry"
          />
          <h3 class="products-name">Apple&Cranberry</h3>
          <p class="products-text">Milk chocolate</p>
          <button class="products-price">50 UAH</button>
        </li>

        <li class="swiper-slide products-item">
          <img
            class="products-img"
            src="/img/product-3.jpg"
            alt="Lime&sea salt"
          />
          <h3 class="products-name">Lime&sea salt</h3>
          <p class="products-text">Dark chocolate</p>
          <button class="products-price">66 UAH</button>
        </li>

        <li class="swiper-slide products-item">
          <img class="products-img" src="/img/product-4.jpg" alt="Pineapple" />
          <h3 class="products-name">Pineapple</h3>
          <p class="products-text">Dark chocolate</p>
          <button class="products-price">54 UAH</button>
        </li>

        <li class="swiper-slide products-item">
          <img class="products-img" src="/img/product-5.jpg" alt="Classic" />
          <h3 class="products-name">Classic</h3>
          <p class="products-text">Milk chocolate</p>
          <button class="products-price">45 UAH</button>
        </li>

        <li class="swiper-slide products-item">
          <img class="products-img" src="/img/product-6.jpg" alt="Honey" />
          <h3 class="products-name">Honey</h3>
          <p class="products-text">Milk chocolate</p>
          <button class="products-price">50 UAH</button>
        </li>

        <li class="swiper-slide products-item">
          <img
            class="products-img"
            src="/img/product-7 .jpg"
            alt="Roasted fruits"
          />
          <h3 class="products-name">Roasted fruits</h3>
          <p class="products-text">Dark chocolate</p>
          <button class="products-price">66 UAH</button>
        </li>

        <li class="swiper-slide products-item">
          <img class="products-img" src="/img/product-8.jpg" alt="Classic" />
          <h3 class="products-name">Classic</h3>
          <p class="products-text">White chocolate</p>
          <button class="products-price">54 UAH</button>
        </li>
      </ul>

      <div class="swiper-pagination"></div>

      <!-- <ul class="products-bullets-list">
        <li class="products-bullets-item"></li>
        <li class="products-bullets-item"></li>
        <li class="products-bullets-item"></li>
        <li class="products-bullets-item"></li>
        <li class="products-bullets-item"></li>
        <li class="products-bullets-item"></li>
        <li class="products-bullets-item"></li>
        <li class="products-bullets-item"></li>
      </ul> -->
    </div>
  </div>
</section>
