<section class="products">
  <div class="container">
    <h2 class="products-title">Our Products</h2>
    <ul class="products-list">
      <li class="products-item">
        <img class="products-img" src="/img/product-1.jpg" alt="" />
        <h3 class="products-name">Orange</h3>
        <p class="products-text">Dark chocolate</p>
        <button class="products-price">45 UAH</button>
      </li>

      <li class="products-item">
        <img class="products-img" src="/img/product-2.jpg" alt="" />
        <h3 class="products-name">Apple&Cranberry</h3>
        <p class="products-text">Milk chocolate</p>
        <button class="products-price">50 UAH</button>
      </li>

      <li class="products-item">
        <img class="products-img" src="/img/product-3.jpg" alt="" />
        <h3 class="products-name">Lime&sea salt</h3>
        <p class="products-text">Dark chocolate</p>
        <button class="products-price">66 UAH</button>
      </li>

      <li class="products-item">
        <img class="products-img" src="/img/product-4.jpg" alt="" />
        <h3 class="products-name">Pineapple</h3>
        <p class="products-text">Dark chocolate</p>
        <button class="products-price">54 UAH</button>
      </li>

      <li class="products-item">
        <img class="products-img" src="/img/product-5.jpg" alt="" />
        <h3 class="products-name">Classic</h3>
        <p class="products-text">Milk chocolate</p>
        <button class="products-price">45 UAH</button>
      </li>

      <li class="products-item">
        <img class="products-img" src="/img/product-6.jpg" alt="" />
        <h3 class="products-name">Honey</h3>
        <p class="products-text">Milk chocolate</p>
        <button class="products-price">50 UAH</button>
      </li>

      <li class="products-item">
        <img class="products-img" src="/img/product-7 .jpg" alt="" />
        <h3 class="products-name">Roasted fruits</h3>
        <p class="products-text">Dark chocolate</p>
        <button class="products-price">66 UAH</button>
      </li>

      <li class="products-item">
        <img class="products-img" src="/img/product-8.jpg" alt="" />
        <h3 class="products-name">Classic</h3>
        <p class="products-text">White chocolate</p>
        <button class="products-price">54 UAH</button>
      </li>
    </ul>

    <ul class="products-bullets-list">
      <li class="products-bullets-item"></li>
      <li class="products-bullets-item"></li>
      <li class="products-bullets-item"></li>
      <li class="products-bullets-item"></li>
      <li class="products-bullets-item"></li>
      <li class="products-bullets-item"></li>
      <li class="products-bullets-item"></li>
      <li class="products-bullets-item"></li>
    </ul>
  </div>
</section>
