<section class="sellers">
  <div class="container">
    <h2 class="sellers-title">tOp Sellers</h2>
    <ul class="sellers-list">
      <li class="sellers-item">
        <img class="sellers-img" src="../img/sellers-1-desk.jpg" alt="" />
      </li>

      <li class="sellers-item">
        <img class="sellers-img" src="../img/sellers-2-desk.jpg" alt="" />
      </li>

      <li class="sellers-item">
        <img class="sellers-img" src="../img/sellers-3-desk.jpg" alt="" />
      </li>
    </ul>
    <p class="sellers-text">
      Crazy enough chocolate originates from a bean just like the coffee bean
      called Cacao. Cacao has been around for thousands of years and was first
      discovered by the Native American tribe called the Mayans.
    </p>
    <button class="sellers-button">Buy now</button>
  </div>
</section>
