<section class="components">
  <div class="container">
    <h2 class="components-title">
      IT ALL ADDS UP TO ONE <br />EXCEPTIONAL
      <span class="span-letter">TASTE</span> SENSATION
    </h2>

    <p class="components-text">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>

    <ul class="components-list">
      <li class="components-item">
        <img
          class="components-img"
          src="/img/desktop_chocolate.png"
          alt="chocolate"
        />

        <h3 class="components-ingredient">milk chocolate</h3>
      </li>

      <li class="components-item">
        <img
          class="components-img"
          src="/img/desktop_milk.png"
          alt="chocolate"
        />
        <h3 class="components-ingredient">milk</h3>
      </li>

      <li class="components-item">
        <img
          class="components-img"
          src="/img/desktop_nuts.png"
          alt="chocolate"
        />
        <h3 class="components-ingredient">nuts</h3>

        <span class="components-span"></span>
      </li>

      <li class="components-item">
        <img
          class="components-img"
          src="/img/desktop_cocoa.png"
          alt="chocolate"
        />
        <h3 class="components-ingredient">semi-sweet chocolate</h3>
      </li>
    </ul>
  </div>
</section>
