/* ----------------------add by Vadym--------------- */
.header-networks-icon {
  stroke: var(--white);
}

.simply {
  font-size: 40px;
}
/* -----------------reset----------------- */
.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.svg {
  color: currentColor;
}
/*------------ utils------ */
  
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ---------components-------- */
/* .container {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
} */

/* @media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1136px;
  }
} */
/*--------------- header------------------------- */

@media screen and (min-width: 1200px) {
  .header-container {
    display: flex;
    align-items: center;
  }
}

/* .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 188px;
  
    position: absolute;
    width: 1136px;
    height: 24px;
    left: 32px;
    top: 24px;
    
} */
/* --------------------logo-------- */
.logo {
  width: 185px;
  height: 20px;
    
  color: #111111;
  font-family: Montserrat, sans-serif;
  font-style: italic;
  font-weight: 700;
  letter-spacing: -0.03em;
  font-size: 18px;
  line-height: 1.11;
  text-transform: uppercase;
  background-color: var();
}

.header {}

.container {}

.header-container {}

/* ---------------------navigation------------ */
.navbar {  
  display: flex;
  flex-direction: row;
  width: 213px;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1200px) {
  .main-nav {
    gap: 76px;
  }
}
/* ------------------------------------------------ */
.logo {}



.simply {}

.chocolate {}

.logo-icon {
  width: 24px;
  height: 24px;
}

/* -----------menu-hamburger--------- */
.menu-hamburger {
  cursor: pointer;
  background-color: var(--white);
  padding: 25% 0;
  border: 0;
}

@media screen and (min-width: 768px) {
  .menu-hamburger {
    display: none;
  }
}
.js-open-menu {}


.icon-menu-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  stroke: #111111;
  border: 2px solid #111111;
}

.header-nav-list {
  display: none;
}
 @media screen and (min-width: 768px) {
  .header-nav-list {
    display: flex;
    gap: 40px;
  }
} 

@media screen and (min-width: 1200px) {
  .header-nav-list {
    display: flex;
    gap: 24px;
  }
}
.header-nav-item {}

.current {}


.nav-link {
  display: block;

  color: #111111;  
  font-weight: 500;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: -0.02em;

  
  padding-top: 28px;
  padding-bottom: 36px;

  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  
/* width: 43px;
  height: 16px; */  
}
.nav-link:hover,
.nav-link:focus {
  color: #FD9222;
}


.current-link {
  color: #FD9222;
}
/* .current {
  position: relative;
}
.current::after {
  position: absolute;
  content: '';
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #1E1823;
} */
/* -------------------network------------------- */
.header-networks-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-networks-list {
    display: flex;
    gap: 4px;
    /* flex-direction: column; */
  }
}

@media screen and (min-width: 1200px) {
  .header-networks-list {
    gap: 40px;
    flex-direction: row;
  }
}

.header-networks-item {}


.header-networks-icon {
  width: 24px;
  height: 24px;
  gap: 18px;
  color: #111111;

  /* display: block;
  padding: 0px; */
  
  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 66px;
  height: 24px;  */
}

.header-networks-icon:hover,
.header-networks-icon {
  color:#FD9222;
}

@media screen and (min-width: 1200px) {
  .header-networks-icon {
     padding-top: 24px;
    padding-bottom: 24px;
  }
}
/* ----------------------------mobile menu------------- */
.mobile-menu {}

@media screen and (max-width: 767px) {
  .mobile-menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    padding-top: 156px;
    background-color: #1E1823;
    z-index: 1;
     transform: translateX(100%);
    
     transition: transform 250ms ease-in-out;
  }
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.js-menu-container {}

.mobile-modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--footer-text-color);
  

  position: absolute;
  top: 40px;
  right: 40px;

}

.mobile-modal-close:hover,
.mobile-modal-close:focus {
  fill: var(--white);
  background-color: var(#1E1823);
}
.js-close-menu {}


.mobile-close-icon {
  height: 24px;
  width: 24px;
  fill: var(--white);
}
/* ----------------------------mobile-navigation------------ */
.mobile-menu-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-site-nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-nav-link {
  display: block;
  color:  var(--white);
  
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  
}
.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color:#FD9222;
}
.site-nav-item {}

.mobile-socials {}

.mobile-socials-container {}

.mobile-socials-list {
  display: flex;
  flex-direction: row;
}

.mobile-socials-item {}

.mobile-socials-link {}

.mobile-socials-icon {
  display: block;
}