/* -----------------reset----------------- */
.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.svg {
  color: currentColor;
}
/*------------ utils------ */
  
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ---------components-------- */


/*-------------header----------------- */

.header {
  color: var(--black);
  background-color: var(--background);  
} 

/* --------------------logo-------- */
.logo {  
  display: flex;
  align-items: center;
  gap: 4px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;    
  letter-spacing: -0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 18px;
    line-height: 1.11;
  }
}
.simply {
  font-style: italic;
  /* margin-left: 4px; */
}
.chocolate{
  text-transform: uppercase;
}
/* -------------Logo-icon */
.logo-icon {

  width: 28px;
  height: 28px;
}
@media screen and (min-width: 1200px) {
  .logo-icon {
    width: 32px;
    height: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .logo-icon {
    width: 24px;
    height: 24px;
    margin-right: 188px;
  }
}
/* ---------------------navigation------------ */
.navbar {  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* -----------menu-hamburger--------- */
.menu-hamburger {
  cursor: pointer;
  background-color: var(--white);
  border: 0;
}

@media screen and (min-width: 1200px) {
  .menu-hamburger {
    display: none;
  }
}

.icon-menu-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
  stroke: var(--black);  
}

.header-nav-list {
  display: none;
}
    /* @media screen and (min-width: 768px) { 
  .header-nav-list {
    display: flex;
    gap: 24px;
    
  }
}   */

@media screen and (min-width: 1200px) {
  .header-nav-list {
    display: flex;
    gap: 24px;
  }
}

.nav-link {
  display: block;
  color: var(--black);  
  font-weight: 500;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: -0.02em;  
  padding-top: 28px;
  padding-bottom: 36px;
}
@media screen and (min-width: 1200px) {
  .nav-link {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.nav-link:hover,
.nav-link:focus {
  color: var(--orange);
}

.current-link {
  color: var(--orange);
}

.mobile-span {
  position: relative;

}
.mobile-span:hover::after {
  position: absolute;
  content: '';
  bottom: -1px;
  display: block;
  width: 100%;
  text-decoration: underline;
  height: 1px;
  border-radius: 4px;
  background-color: #FD9222;
}
/* -------------------network------------------- */
.header-networks-list {
  display: none;
}
 /* @media screen and (min-width: 768px) {
  .header-networks-list {
    display: flex;
    gap: 18px;
  }
}   */

 @media screen and (min-width: 1200px) {
  .header-networks-list {
    display: flex;
    gap: 18px;
    flex-direction: row;
  }
}
.header-networks-icon {
  display: none;
}
/* .header-networks-icon {
  stroke: var(--black);
  fill-opacity: 0;
  width: 24px;
  height: 24px;
  gap: 18px;
} */
@media screen and (min-width: 1200px) {
  .header-networks-icon {
    display: flex;
    stroke: var(--black);
    fill-opacity: 0;
    width: 24px;
    height: 24px;
    gap: 18px;
     /* padding-top: 24px; */ 
    /* padding-bottom: 24px; */
  }
}
.header-networks-icon:hover,
.header-networks-icon:focus {
  stroke: var(--orange);
}
 
/* @media screen and (min-width: 1200px) {
  .header-networks-icon {
    /* padding-top: 24px;
    padding-bottom: 24px; */

/* ----------------------------mobile menu------------- */
.mobile-menu {
  /* display: flex;
  position: fixed; */
  /* max-width: 220px; */

}

@media screen and (max-width: 767px) {
  .mobile-menu {
    display: flex; 
    position: fixed;
    top: 0;
    left: 155px;
    width: 100%;
    height: 100%;
    padding: 40px;
    padding-top: 156px;
    background-color: var(--purple);
    z-index: 1;
    transform: translateX(100%);    
    transition: transform 250ms ease-in-out;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none
  }
}
.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-modal-close {
  /* position:fixed;  */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--purple);
  position: absolute;
  top: 40px;
  left: 180px;
  /* right: 40px; */
  border-color: transparent;
}

.mobile-modal-close:hover,
.mobile-modal-close:focus {
  stroke: var(--orange);  
}

.js-close-menu {}


.mobile-close-icon {
  stroke: var(--white);
  fill-opacity: 0;
  height: 24px;
  width: 24px;
}
.mobile-close-icon:hover,
.mobile-close-icon:focus {
  stroke: var(--orange);
}
.icon-link:hover,
.icon-linkn:focus {
  stroke: var(--orange);
}
/* ----------------------------mobile-navigation------------ */
.mobile-menu-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-site-nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-left: 50px; 
}

.mobile-nav-link {
  display: block;
  color:  var(--white);
  
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  
}
.mobile-nav-link:hover,
.mobile-nav-link:focus {
  color: var(--orange);
}


.mobile-socials {}

.mobile-socials-container {
  display: flex;
  align-items: flex-start;
  margin: 0;
}

.mobile-socials-list {
  display: flex;
  flex-direction: row; 
}

.mobile-socials-item {}

.mobile-socials-link {}

.mobile-socials-icon {
  display: block;
  stroke: var(--white);
  fill-opacity: 0;
  width: 20px;
  height: 20px;
  margin-left: 20px;
  gap: 18px;
  }
.mobile-socials-icon:hover,
.mobile-socials-icon:focus {
  stroke: var(--orange);
}
/* <use href="/project-16/assets/icons-5c8b89cc.svg#icon-instagram-desk-tab"></use> */
