.hero {
  padding-bottom: 72px;
}

.hero-backgrounb {
  padding-left: 40px;
  padding-bottom: 40px;
}

.hero-subtitle {
  font-weight: var(--font-weight-h);
  font-size: var(--font-size-hhh);
  line-height: var(--line-height-h);
  letter-spacing: var(--letter-spacing-h);
  color: var(--white);
}

.hero-buttons-sckroll {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.hero-buttons-list {
  display: flex;
  margin-top: 32px;
}

.left-button {
  width: 144px;
  height: 45px;
  margin-right: 14px;
  background: var(--orange);
  border: 0;
  border-radius: 100px;
}

.right-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 183px;
  height: 45px;
  border: 1px solid var(--white);
  border-radius: 100px;
}

.left-button,
.right-button {
  font-weight: var(--font-weight-hh);
  font-size: var(--font-size-pp);
  line-height: var(--line-height-h);
  color: var(--white);
}

.hero-scroll {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 130px;
  height: 38px;
  cursor: pointer;
  font-weight: var(--font-weight-h);
  font-size: var(--font-size-pp);
  line-height: var(--line-height-hh);
  letter-spacing: var(--letter-spacing-h);
  color: var(--white);
}

.hero-icon {
  width: 38px;
  height: 38px;
}

@media (max-width: 767px) {
  .hero-backgrounb {
    max-width: 335px;
    padding-top: 395px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-image: url("/img/hero-mob.jpg");
    background-size: cover;
    border-radius: 30px;
  }

  .hero-desk-tab {
    display: none;
  }

  .hero-mob {
    font-size: 20px;
  }

  .hero-buttons-sckroll {
    display: flex;
    flex-wrap: wrap;
  }

  .hero-buttons-list {
    flex-wrap: wrap;
  }

  .left-button {
    width: 120px;
    height: 41px;
    margin-bottom: 32px;
  }

  .right-button {
    width: 159px;
    height: 41px;
    margin-bottom: 32px;
  }

  .hero-scroll {
    width: 107px;
    height: 28px;
    font-size: var(--font-size-p);
    line-height: 1.7;
  }

  .hero-icon {
    width: 28px;
    height: 28px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .hero {
    padding-bottom: 50px;
  }

  .hero-backgrounb {
    width: 704px;
    height: 890px;
    padding-top: 671px;
    background-image: url("/img/hero-tab.jpg");
    border-radius: 30px;
  }

  .hero-mob {
    display: none;
  }

  .hero-buttons-sckroll {
    width: 624px;
  }
}

@media (min-width: 1200px) {
  .hero-backgrounb {
    width: 1136px;
    height: 600px;
    padding-top: 381px;
    background-image: url("/img/hero-desk.jpg");
    border-radius: 30px;
  }

  .hero-mob {
    display: none;
  }

  .hero-buttons-sckroll {
    width: 1056px;
  }
}
