.hero {
  height: 600px;
  background-image: url('/img/hero-desk.jpg');
}
.modal-buy-now,
.modal-thank-you {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 609px;
  min-height: 1058px;
  background: #fafafa;
  border-radius: 15px;
  transform: translate(-50%, -50%) scaleY(1) rotate(0);
  transition: transform 500ms linear;
  padding: 48px;
}
.backdrop .is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0) rotate(-360deg);
}
