/* .orange {
  background-color: var(--orange);
} */
.swiper {
  /* width: 600px; */
  /* height: 364px; */
}

.swiper-pagination-bullet {
}

.swiper-pagination-bullet-active {
}

.products-item {
  padding: 32px 20px;
  text-align: center;
  background-color: var(--white);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
}

.products-img {
  margin-bottom: 8px;
}

.products-name {
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: var(--black);
  text-transform: uppercase;
}

.products-text {
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.products-price {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  color: var(--black);
  border: 1px solid rgba(17, 17, 17, 0.1);
  background-color: var(--background);
  border-radius: 100px;
  padding: 8px 20px;
}
