.reviews {
  padding: 72px 0;
  text-align: center;
  color: var(--black);
}

.reviews .swiper {
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .reviews .swiper {
    margin-bottom: 50px;
  }
}

.reviews-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17em;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
}

@media (min-width: 768px) {
  .reviews-title {
    margin-bottom: 50px;
  }
}

.reviews-list {
  margin-bottom: 32px;
}

.reviews .swiper-slide {
  height: 240px;
  display: flex;
  align-items: flex-end;
}

.reviews-item {
  position: relative;
  padding: 56px 24px 0px;
  height: 200px;
  background-color: var(--white);
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
  border-radius: 15px;
}

.reviews-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 999;
}

.reviews-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
}

.reviews-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
}

.reviews-button {
  padding: 12px 28px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  color: inherit;
  border: 1px solid var(--orange);
  border-radius: 100px;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .reviews-button {
    padding: 14px 40px;
    font-size: 18px;
    line-height: 1.22;
  }
}

.reviews-button:hover,
.reviews-button:focus {
  color: var(--white);
  background-color: var(--orange);
}

.modal-our-products {
  padding: 32px 24px;
  width: 100%;
  max-width: 311px;
  background-color: var(--white);
}

.modal-our-products .modal-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  color: var(--black);
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.review-form-input {
  display: block;
  padding: 14px 18px;
  width: 100%;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--black);
  border: 2px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
}

.review-form-input::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

.review-form-input:not(:last-child) {
  margin-bottom: 14px;
}

.review-form-input.textarea {
  resize: none;
  height: 91px;
}

.form-group {
  margin-bottom: 18px;
}

.review-button {
  padding: 12px 28px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.21;
  color: var(--white);
  border: none;
  border-radius: 100px;
  background-color: var(--orange);
}
