@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./advantages.css');
@import url('./unique-components.css');
@import url('./how-its-made.css');
@import url('./our-products.css');
@import url('./top-sellers.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');

:root {
  --background: #fafafa;
  --purple: #1e1823;
  --orange: #fd9222;
  --beige: #fcf1e0;
  --black: #111111;
  --white: #ffffff;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  background-color: #e2e2e2;
}

main {
  background-color: var(--background);
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 32px;
  padding-left: 32px;
}

@media (max-width: 767px) {
  .container {
    max-width: 375px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
