/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./advantages.css');

:root {
  --purple: #1e1823;
  --orange: #fd9222;
  --black: #111111;
  --beige: #fcf1e0;
  --white: #fafafa;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  background: #e2e2e2;
}
