.subscribe {
  height: 370px;
  background-image: url("/img/Subcribe-desk.jpg");
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .subscribe {
    background-image: url("/img/Subcribe-desk@2x.jpg");
  }
}

.subscribe .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 335px;
}

.subscribe-title {
  color: var(--white);
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-align: center;
  width: 291px;
  margin-top: 62px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .subscribe-title {
    margin-top: 72px;
    font-size: 24px;
    line-height: 28px;
  }
}

@media (min-width: 1200px) {
  .subscribe-title {
    margin-top: 72px;
    font-size: 24px;
    line-height: 28px;
  }
}

.subscribe-text {
  color: var(--white);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: center;

  width: 326px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .subscribe-text {
    width: 467px;
  }
}

@media (min-width: 1200px) {
  .subscribe-text {
    width: 467px;
  }
}

.subscribe-button {
  background-color: var(--orange);
  color: var(--white);

  padding: 12px 28px;
  border-radius: 100px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--beige);
  color: var(--orange);
}

@media (min-width: 768px) {
  .subscribe-button {
    padding: 14px 40px;
    font-size: 18px;
    line-height: 22px;
  }
}

/* Modal */
.subscribe-modal {
  background-color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 311px;
  height: 350px;
  border-radius: 15px;
  transform: translate(-50%, -50%);

  overflow: hidden;
}

@media (min-width: 768px) {
  .subscribe-modal {
    width: 538px;
    height: 412px;
  }
}

.subscribe-overlay {
  opacity: 1;
  visibility: visible;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  transition: 0.3s all;
}

.subscribe-overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.subscribe-modal-icon {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 30px;
  height: 30px;
  stroke: var(--white);

  border: none;
  background-color: transparent;
}

.subscribe-modal-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  padding: 32px 24px;
}

@media (min-width: 768px) {
  .subscribe-modal-title {
    font-size: 24px;
    line-height: 28px;
  }
}

.subscribe-form-block {
  display: flex;
  padding-left: 24px;
}

@media (min-width: 768px) {
  .subscribe-form-block {
    gap: 8px;
  }
}

.subscribe-form {
  position: relative;
}

.subscribe-form-input {
  padding: 14px 18px;
  width: 263px;

  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 30px;
}

@media (min-width: 768px) {
  .subscribe-form-input {
    width: 313px;
  }
}

.subscribe-form-button {
  background-color: var(--orange);
  color: var(--white);
  border: none;
  border-radius: 100px;

  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  padding: 14px 22px;

  position: absolute;
  left: 162px;
}
