:root {
  --font-weight-hhh: 700;
  --font-weight-hh: 600;
  --font-weight-h: 500;
  --font-weight-p: 400;
  --font-size-hhh: 28px;
  --font-size-hh: 24px;
  --font-size-h: 20px;
  --font-size-ppp: 18px;
  --font-size-pp: 14px;
  --font-size-p: 12px;
  --line-height-hh: 1.3;
  --line-height-h: 1.2;
  --line-height-p: 1.1;
  --letter-spacing-h: -0.03em;
  --letter-spacing-p: -0.02em;
}
