
/* ---------------------  TITLE  -------------------- */
.accent{
  color:var(--orange);
}

.sellers-title{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 1.16;
text-align: center;
letter-spacing: -0.03em;
text-transform: uppercase;

margin-bottom: 32px;
}

@media screen and (min-width:768px){
  .sellers-title{
    margin-bottom: 50px;
  }
}

/* ------------------------  PHOTO  ----------------------- */

.sellers-item{
  margin-bottom: 20px;
}

@media screen and (max-width:1199px){
.sellers-item:nth-last-child(1){
  display: none;
  }
}

.sellers-img{
  border-radius: 15px;
}

@media screen and (min-width: 768px){
  .sellers-img{
    width: 344px;
  }
}

@media screen and (min-width: 1199px){
  .sellers-img{
    width: 368px;
  }
}


@media screen and (min-width: 768px){
  .sellers-list{
    display: flex;
    column-gap: 16px;
    margin-bottom: 32px;

  }
}


/* --------------------------  TEXT  ------------------------ */

.sellers-text{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;

  letter-spacing: -0.02em;

  color: #111111;

  width: 306px;
  
}

@media screen and (min-width: 1199px){
  .sellers-text{
    width: 407px;
  }
}

@media screen and (min-width: 768px){
.sellers-text-btn{
  display: flex;
  justify-content: space-between;

  }
}

.sellers-text-mob{
  margin-bottom: 32px;
}

@media screen and (min-width: 768px){
  .sellers-text-mob{
    display: none;
  }
}

@media screen and (max-width: 767px){
  .sellers-text{
    display: none;
  }
}


/* -------------------  BUTTON  -------------------- */

.sellers-button {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  color: var(--white);

  background-color: var(--orange);
  width: 120px;
  height: 41px;

  border: none;
  border-radius: 100px;

  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 768px){
  .sellers-button{
    font-size: 18px;

    width: 162px;
    height: 50px;

    margin: 0;
  } 
}

@media screen and (min-width: 768px){
  .sellers-button{
    font-size: 18px;

    width: 162px;
    height: 50px;

    margin: 0;
  } 
}

.sellers-button:hover,
.sellers-button:focus{
  background-color: #FCF1E0;
  color: #FD9222;
}

