.components-list {
  list-style: none;
}

.xxx {
  position: absolute;
  top: 50%;
  left: 50%;
}

.aaa {
  font-size: xx-large;
  color: blue;
  text-shadow: 2px 0 2px #8c1b21, 0 2px 2px #8c1b21, -2px 0 2px #8c1b21,
    0 -2px 2px #8c1b21;
}
