.components-list {
  list-style: none;
}

.components {
  position: relative;
}

.xxx {
  position: absolute;
  top: 25%;
  left: 45%;
}

.animate__animated {
  --animate-duration: 0.5s;
}

.aaa {
  position: absolute;
  font-size: xx-large;
  color: rgb(160, 250, 250);
  text-shadow: 2px 0 2px #8c1b21, 0 2px 2px #8c1b21, -2px 0 2px #8c1b21,
    0 -2px 2px #8c1b21;
}
